examples/nodered.js
[{"id":"ec4ff886.92a9a","type":"inject","z":"3d3310e8.2afd68","name":"","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":289,"wires":[["b5344cfb.4e5f8"]]},{"id":"b5344cfb.4e5f8","type":"mqtt out","z":"3d3310e8.2afd68","name":"","topic":"light","qos":"","retain":"","broker":"fdc78340.f77f5","x":373,"y":324,"wires":[]},{"id":"46d365a5.333f0c","type":"inject","z":"3d3310e8.2afd68","name":"","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131,"y":366,"wires":[["b5344cfb.4e5f8"]]},{"id":"fdc78340.f77f5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]